

body {
    background-color: rgb(153, 238, 160);
    text-align: center;
}

.intro {
    width: 100%;
    /*text-align: center; */
}


#detector {
    width: 25%;
    height: 25px;
    padding: 5px;
    border: 2px solid rgb(77, 20, 131);
    border-radius: 5px;
    margin-bottom: 10px;
}



#detect {
    color: rgb(153, 238, 160);
    background-color: rgb(77, 20, 131);
    border-radius: 10px;
    padding: 5px 8px;
}